body {
  margin: 0; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

.moby-grid {
  width: 100%;
  background-color: #eee; }
  .moby-grid .cell {
    font-family: Helvetica;
    color: white; }
    .moby-grid .cell.small {
      width: 25%; }
    .moby-grid .cell.labs {
      background-color: red; }
