<div class="cell labs" data-type="small">
  <a href="#"></a>
  <div class="overlay-content">
    <img src="/images/ruby-icon.png" />
    <label>How a thing does a thing to save money for clients who like to do things.</label>
  </div>
  <div class="content">
    <label>Labs Article Title</label>
  </div>
  <div class="overlay">
    <div class="corner"><span class="plus">+</span></div>
  </div>
</div>