body {
  margin: 0;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.moby-grid {
  width: 100%;
  background-color: #eee;

  .cell {
    font-family: Helvetica;
    color: white;

    &.small {
      width: 25%;
    }

    &.labs {
      background-color: #2778bc;
    }
  }
}