body {
  margin: 0;
  font-family: Helvetica;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.moby-grid {
  position: relative;
  width: 100%;
  background-color: #eee;

  .cell {
    position: absolute;
    display: table;
    overflow: hidden;
    color: white;

    // sizes

    &[data-type="small"] {
      width: 25%;
    }

    &[data-type="wide"] {
      width: 50%;
    }

    &[data-type="large"] {
      width: 50%;
    }

    &[data-type="tall"] {
      width: 25%;
    }

    // children

    a {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    label {
      display: table-cell;
      width: 100%;
      padding-left: 15%;
      vertical-align: middle;
    }

    .overlay {
      position: absolute;
      bottom: 550px;
      right: 550px;

      .corner {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 1000px solid #fff;
        border-left: 1000px solid transparent;

        &::before {
          display: block;
          position: absolute;
          top: 500px;
          right: 472px;
          content: "+";
          color: #2778bc;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    // types

    &.labs {
      background-color: #2778bc;
    }
  }
}